<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PrestaQi.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="31457280" />
       </requestFiltering>
    </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 3A0B008B-ABD9-4DB7-9B0A-0677AE45297F-->